
.layout-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout-container {
  width: 100%;
  height: 100%;


  .layout-aside {
    width: auto;
    box-shadow: var(--box-shadow-color) 2px 0 2px 0;
  }

  .layout-header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-color) 2px 0 2px 0;
  }

  .layout-main {
    display: flex;
    flex-direction: column;
    padding: 0 !important;


    .breadcrumb {
      display: flex;
      align-items: center;
      box-shadow: var(--box-shadow-color) 0 2px 2px 0;
    }

    .container {
      position: relative;
      margin: 20px 20px 0 20px;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 15px;
      flex: 1;
    }
  }
}